
.news-section {

}

.section-title {
  color: yellow;
  margin-bottom: 20px;
  text-align: center;
}

.news-section {

}

.news-article {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
}
