
.news-section {
  display: flex;
  flex-direction: column;
  min-width: 32%;
}

.section-title {
  margin-bottom: 20px;
}

.news-section {
  width: 350px;
  padding: 10px 20px;
}

.news-article {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
}
