<section class="recipe-section">

  <h2 class="section-title">Recipes</h2>

  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!isLoading">
    <article *ngFor="let recipe of recipesList" class="recipe-article">
      <h3 class="article-title">{{ recipe.title }}</h3>
      <div class="rating">Rating: 4.5/5</div>
      <p class="prep-time">Preparation Time: 2 hours</p>
      <ul class="ingredients-list">
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
      <div class="instructions">
        <h4 class="subheading">Instructions:</h4>
        <ol class="steps-list">
          <li *ngFor="let step of recipe.instructions">{{ step }}</li>
        </ol>
      </div>
      <div>
        <div class="recipe-author">Author: {{ recipe.author }}</div>
        <div class="recipe-comments">Comments: 5</div>
      </div>
<!--        <app-comments-list></app-comments-list>-->
    </article>
  </div>
</section>
